extends layout

block content

  h1 #{title}
  p= book.title

  if bookinstances.length

    p #[strong Delete the remaining instances before attempting to delete this book.]

  else
    p Do you really want to delete this Book?

    form(method='POST')
      div.form-group
        input#bookid.form-control(type='hidden', name='bookid', value=book._id )

      button.btn.btn-primary(type='submit') Delete
